.header {
  position: absolute;
  overflow: hidden;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 26px;
  width: 100%;
  max-width: 1280px;
}

.header__rigth {
  display: flex !important;
  gap: 8px;
}

.header__center {}

.header__left {}