.hero {
  position: relative;
  overflow: hidden;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
}

.hero__bg {
  position: absolute;
  // right: -1050px;
  max-width: 100vw;
}

.home__perfil {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  flex-direction: column;
  text-align: center;
}

.hero__perfil_img {
  border-radius: 50%;
}

.hero__perfil_wrapper {}

.hero__perfil_text {
  font-size: 60px;
}

.hero__perfil_description {
  font-size: 32px;
  color: #8b949e;
}

.hero__drone {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.hero__drone_image {
  width: 25%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0px);
  }
}