.technologies {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
}

.technologies__text {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.technologies__list {
  display: flex;
  justify-content: center;
  grid-row-gap: 20px;
  row-gap: 20px;
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  flex-wrap: wrap;
}

.technologies__item {}